body {
  font-family: 'Lato', sans-serif;
}
.active {
  background-color: #eee;
}

.navbar {
  width: 100%;
  margin: 0;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  font-family: 'Josefin Slab', serif;
  background-color: white;
}

.logo {
  font-family: 'Miss Fajardose', cursive;
  color: black;
  font-size: 40px;
}

.hero-content {
  background-image: url("img/moriarty.gif");
  background-size: cover;
  margin: 0 20px;
  padding-bottom: 15.5%;
  font-family: 'Lato', sans-serif;
  padding-top: 12%;
  z-index: 2;
  color: white;
}

.content {
  width: 45%;
  padding-left: 25px;
}

.hero-heading {
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.hero-desc {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 26px;
  text-align: center;
}

.hero-ctaWrapper {
  margin-bottom: 10px;
  text-align: center;
}

.hero-cta {
  min-width: 140px;
  margin-left: 10px;
}

.btn-plain {
  background-color: transparent;
  color: white !important;
  border: 2px solid #87909c;
  text-shadow: 0 -1ps transparent !important;
}

.btn-xxlarge {
  font-size: 24px !important;
  border-radius: 5px !important;
}

.hover-button {
  background-color: #87909c;
}

.job {
  height: 300px;
  width: auto;
  margin: 20px;
  padding: 5px;
  text-align: center;
  border: 1px gray solid;
}

.job-hover {
  background-color: lightgray;
}

.job-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.heroSlider-slides {
  width: 100%;
  max-width: 1200px;
  display: block;
  list-style: none;
  text-align: right;
  margin: 22px auto 0;
  padding: 0;
  position: relative;
}

.heroSlider-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
