<nav class="navbar navbar-dark bg-faded">
  <a class="navbar-brand" href="#">Moriarty's Den</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home" current-page current-path="currentPath" match-path="" current-page="currentPath === '/' || currentPath === ''">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plot a Crime</a>
    </li>
  </ul>
</nav>
